/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/*THIS CODE WAS EDITED & WRITTEN ON 9/12/19, BY JASON CRUZ HERE I WAS LEARNING ABOUT BOX-MODELS AS I GO. I HAVE ADDED NOTES TO HELP ME REMEMBER AS I GO AND NOT GET LOST IF I COME BACK TO IT LATER.
*/

 /* Desktop Settings */
 /*===== Navbar Section ======*/

 .container {
    width: 876px;
	margin: 0px auto;
 }

.navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
    margin-top: 30px;
}

nav {
    display: flex;
    width: 69%;
    justify-content: space-between;
}

.nav-button {
	text-decoration: none; 
    color: grey;
}

.nav-button:hover {
	transform: scale(1.2);
}

.top-logo {
	/* position: absolute; */
	/* margin-left: 8%;
    top: 6.5%; */
}
/*=============================*/



/*===== Logo Under Navbar =====*/

/*THIS IS THE LOGO UNDER THE NAVBAR*/
.ts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 65px;
    padding-left: 126px;
    margin-bottom: 79px;
}

.top-section {
	display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.innovation {
    font-size: 72px;
    margin-bottom: 30px;
}

.get-started a {
    text-decoration: none;
    border: 1px solid black;
    padding: 3px;
    padding-left: 45px;
    padding-right: 45px;
    color: black;
    font-size: 17px;
    transition: 0.5s;
}

.get-started a:hover {
    background: orangered;
    border:1px solid black;
    color: black;
}

